alias l="ls -la"

alias vim=nvim
alias v.='$EDITOR .'
alias emc=emacs26
alias :q=exit


alias py=python3
alias pipup="python -m pip install --upgrade pip"

alias djr="python manage.py runserver"
alias djm="python manage.py migrate"
alias djmm="python manage.py makemigrations"
alias djt="python manage.py test"

alias org="emacs -nw ~/org"

# tmux aliases
alias tct="tmux choose-tree"
alias tma="tmux attach"

alias tdf="tmux new-session -A -c $HOME/dotfiles -s dotfiles"
alias trmove="tmux new-session -A -c $HOME/repos/rmove -s rmove"
alias ttfg="tmux new-session -A -c $HOME/repos/tfguide -s tfguide"
alias trmw="tmux new-session -A -c $HOME/repos/rMergeWebsite -s rmergeweb"
alias trn="tmux new-session -A -c $HOME/repos/rsg-notes -s rsg-notes"
alias tpops="tmux new-session -A -c $HOME/repos/POPS -s pops"

alias flushdns="sudo dscacheutil -flushcache; sudo killall -HUP mDNSResponder"

alias dockergit="docker run -ti --rm -v $(pwd):/git -v $HOME/.ssh:/root/.ssh omnys/git-svn"
