################################################################################
# User configuration
################################################################################

export EDITOR=nvim

if [[ -a ~/.local.sh ]]; then
	source ~/.local.sh
fi

if [[ -a /home/ryan/lib/azure-cli/az.completion ]];then
	source /home/ryan/lib/azure-cli/az.completion
fi


################################################################################
# Installed-Software-Specific
################################################################################

# Less
# LESS - a variable to hold options auto-passed to less

# NVM
# export NVM_DIR="$HOME/.nvm"
# [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
# [ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion

# Deno
# export DENO_INSTALL=$HOME/.deno
# export PATH="$DENO_INSTALL/bin:$PATH"

# export SPACEVIMDIR=$HOME/.dotfiles/.SpaceVim.d/
# export GTAGSLABEL=pygments

# export GOPATH=$HOME/go-work

# export PYTHON_CONFIGURE_OPTS="--enable-shared"

export DJANGO_READ_DOT_ENV_FILE=True
export MANPATH=/opt/local/share/man:$MANPATH

env=~/.ssh/agent.env
