[submodule "modules/antigen"]
	path = modules/antigen
	url = https://github.com/zsh-users/antigen.git
[submodule "modules/bat-extras"]
	path = modules/bat-extras
	url = https://github.com/eth-p/bat-extras
