bundle
tags

GPATH
GRTAGS
GTAGS

.netrwhist

.config/coc
.config/yarn
.config/configstore
.config/insight-nodejs
.config/vscode-sqltools
.config/wslu

# Let VSCode-Sync handle this
.config/Code

.vim/bundle
.vim/autoload/plug.vim

# zsh
.zcompdump*
.zsh_history
