bundle
tags

GPATH
GRTAGS
GTAGS

.netrwhist

.config/coc
.config/yarn
.config/configstore
.config/insight-nodejs
.config/vscode-sqltools
.config/wslu

# Let VSCode-Sync handle this
.config/Code

# Vim Plugin Directories
.vim/bundle
.vim/autoload/plug.vim
nvim/plugin

# zsh
.zcompdump*
.zsh_history

.config/iterm2
